* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 1280px;
  margin: 0 auto;
}

.back-img {
  background-image: url(assets/img/start-screen-gradient-background.jpg);
  background-repeat: no-repeat;
  height: 908px;
}

.logo-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding-bottom: 10px;
}

.logo-subtitle {
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding-left: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 30px 40px 90px 40px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  font-family: Arial;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 50px;
  color: #ffffff;
}

.nav-item {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  padding-left: 35px;
}

.item-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-weight: 400;
  font-size: 15px;
  color: #cdcdcd;
  padding-bottom: 5px;
  text-decoration: none;
}

.item-link:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  bottom: 10px;
  height: 3px;
  background-color: #f1cdb3;
  transition: width 0.3s ease-out;
}

.item-link:hover:after,
.item-link:focus:after {
  width: 100%;
}

.item-link {
  display: inline-block;
  line-height: 50px;
}

.item-link.active:after {
  width: 100%;
  background-color: #f1cdb3;
}

.not-only {
  font-weight: 400;
  display: flex;
}

.not-only-item {
  width: 44%;
  align-self: center;
  padding: 0 0 30px 40px;
}

.main-img {
  background-image: url(assets/img/start-screen-puppy.png);
  width: 698px;
  height: 728px;
  margin: 60px 60px 0 0;
}

.main-title {
  font-size: 44px;
  font-weight: 400;
  color: #ffffff;
  line-height: 130%;
  margin: 0 50px 0 0;
}

.main-subtitle {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #cdcdcd;
  padding: 42px 0 42px 0;
  line-height: 160%;
}

.main-text {
  width: 460px;
}

.main-button-container {
  padding-top: 15px;
}

.main-button {
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.main-button:hover {
  background-color: transparent;
  color: #f1cdb3;
}

.dark-button {
  border-radius: 100px;
  padding: 15px 45px;
  background-color: #f1cdb3;
  text-decoration: none;
  color: #292929;
  border: 2px solid #f1cdb3;
  transition:  background-color 0.3s, color 0.3s;
}

.light-button {
  border-radius: 100px;
  padding: 15px 45px;
  background-color: #fafafa;
  border: 2px solid #f1cdb3;
  transition: background-color 0.3s, color 0.3s;
}

.our-button:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.our-button {
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  display: block;
    margin: 0 auto;
    margin-top: auto;
    width: 71%;
}

.big-button {
  padding: 15px 45px;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.big-button:hover {
  background-color: #f6f6f6;
}

.our-item-button {
  text-align: center;
  padding-top: 75px;
}

.credit-button {
  font-family: Georgia;
  border-radius: 9px;
  padding: 10px 15px;
  width: 349px;
  height: 43px;
  background-color: #f1cdb3;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #545454;
}

.credit-button span {
  display: inline-flex;
  align-items: center;
}

.credit-button span:before {
  content: "";
  background-repeat: no-repeat;
  width: 30px;
  height: 23px;
  padding-right: 10px;
  background-image: url(assets/img/icon/credit-card.svg);
}

.about {
  padding: 95px 0 85px 0;
}

.about-item {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.about-text {
  width: 45%;
  padding-left: 120px;
}

.about-img {
  background-image: url(assets/img/about-pets.png);
  width: 300px;
  height: 408px;
  margin: -15px 0 0px 30px;
}

.about-title {
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 86%;
  padding-bottom: 25px;
}

.about-subtitle {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  padding: 0 25px 25px 0;
}

.our-friends {
  background-color: #f6f6f6;
  padding: 85px 25px 100px 25px;
}

.our-title {
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  padding-bottom: 55px;
  color: #545454;
}

.our-item-container {
  display: flex;
  justify-content: space-around;
  gap: 80px;
}

.our-img {
  width: 270px;
  height: 270px;
}

.our-item {
  border-radius: 9px;
  background-color: #fafafa;
  text-align: center;
  width: 270px;
  height: 435px;
}


.our-title-item {
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 30px 0;
  color: #545454;
}

.numb1 {
  background-image: url(assets/img/slide/button_arrow_left.png);
  width: 52px;
  height: 52px;
  display: inline-flex;
  transition: background-image 0.4s;
  cursor: pointer;
}

.numb1:hover {
  background-image: url(assets/img/slide/button_arrow_hover---.png);
}

.control {
  align-self: center;
}

.numb2 {
  background-image: url(assets/img/slide/button_arrow_right.png);
  width: 52px;
  height: 52px;
  display: inline-flex;
  transition: background-image 0.4s;
  cursor: pointer;
}

.numb2:hover {
  background-image: url(assets/img/slide/button_arrow_hover.png);
}

.katrine-img {
  background-image: url(assets/img/pets-katrine.png);
}

.jennifer-img {
  background-image: url(assets/img/pets-jennifer.png);
}

.woody-img {
  background-image: url(assets/img/pets-woody.png);
}

.sophia-img {
  background-image: url(assets/img/pets-sophia.png);
}

.timmy-img {
  background-image: url(assets/img/pets-timmy.png);
}

.charly-img {
  background-image: url(assets/img/pets-charly.png);
}

.scarlett-img {
  background-image: url(assets/img/pets-scarlet.png);
}

.freddie-img {
  background-image: url(assets/img/pets-freddie.png);
}

.help-item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.help {
  padding: 95px 45px 55px 45px;
}

.help-icon {
  width: 60px;
  height: 60px;
}

.help-item {
  padding: 0 65px 55px 55px;
  text-align: -webkit-center;
}

.help-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 33px;
}

.food {
  background-image: url(assets/img/icon/icon-pet-food.svg);
}

.transp {
  background-image: url(assets/img/icon/icon-transportation.svg);
}

.toys {
  background-image: url(assets/img/icon/icon-toys.svg);
}

.cups {
  background-image: url(assets/img/icon/icon-bowls-and-cups.svg);
}

.shamp {
  background-image: url(assets/img/icon/icon-shampoos.svg);
}

.vitamins {
  background-image: url(assets/img/icon/icon-vitamins.svg);
}

.med {
  background-image: url(assets/img/icon/icon-medicines.svg);
}

.collars {
  background-image: url(assets/img/icon/icon-collars-leashes.svg);
}

.sleep {
  background-image: url(assets/img/icon/icon-sleeping-area.svg);
}

.donat {
  padding: 70px 0 100px 0;
  background-color: #f6f6f6;
}

.donat-img {
  background-image: url(assets/img/donation-dog.png);
  width: 505px;
  height: 261px;
}

.donat-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.donat-text {
  width: 33%;
  padding-left: 35px;
}

.donat-title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 75%;
}

.donat-subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  padding: 20px 0;
}

.donat-credit-legal {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  padding-top: 20px;
  color: #b2b2b2;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0 30px;
  background-image: url(assets/img/start-screen-gradient-background.jpg);
}

.footer-title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-bottom: 35px;
  padding-top: 15px;
  padding-left: 10px;
}

.footer-img {
  background-image: url(assets/img/footer-puppy.png);
  width: 300px;
  height: 310px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  width: 24%;
}

.footer-item a:before {
  content: "";
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  padding-right: 30px;
}

.footer-item p:before {
  content: "";
  background-repeat: no-repeat;
  width: 22px;
  height: 32px;
  padding-right: 20px;
}

.footer-adress,
.email,
.tel {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  display: inline-flex;
  text-align: center;
  padding-bottom: 40px;
  text-decoration: none;
}

footer-adress p {
  position: relative;
}

.email:before {
  background-image: url(assets/img/icon/icon-email.svg);
}

.tel:before {
  background-image: url(assets/img/icon/icon-phone.svg);
}

.footer-adress:before {
  background-image: url(assets/img/icon/icon-marker.png);
}

/* ----------------- PETS------------------ */

.our-pets-title {
  color: #545454;
}

.our-pets-subtitle {
  color: #292929;
  text-shadow: 2px 2px 4px #292929;
}

.pets-link {
  color: #292929 !important;
}

.pets-container {
  flex-wrap: wrap;
  gap: 30px 0;
}

.our-item-pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 60px;
}

.icon-pag {
  width: 52px;
  height: 52px;
}

.pag-1 {
  background-image: url(assets/img/icon/button_paginator_inactive12.png);
}

.pag-2 {
  background-image: url(assets/img/icon/button_paginator_inactive.png);
}

.pag-3 {
  background-image: url(assets/img/icon/button_paginator3.png);
}

.pag-4 {
  background-image: url(assets/img/icon/button_paginator4.png);
}

.pag-5 {
  background-image: url(assets/img/icon/button_paginator.png);
}

.pag-4:hover, .pag-5:hover {
  cursor: pointer;
}

/* ----------------- PETS------------------ */